.material-symbols-outlined {
    color: #FFF;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

body{
    color: #ffffff66;
    font-family: 'Roboto', sans-serif;
    background: #1a1a1a;
}

.__background-secondary-color{
    background: #333333;
}

.__background-tertiary-color{
    background: #33333366;
}


#menu:checked ~ #footer_menu{
    display: flex;
}

.mockup{
    background-image: url(../images/iphone.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

